.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.column {
  background: blue;
  height: 100vh;
}

/* .editor-container {
  width: 30%;
} */

.right-sidebar {
  background: green;
}

.left-sidebar {
  background: red;
} 
