.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column {
  background: blue;
  width: 30%;
}

/* .editor-container {
  width: 30%;
} */

.right-sidebar {
  background: green;
}

.left-sidebar {
  background: red;
} 
